# Dependency directories
node_modules/
jspm_packages/

# Build directories
build/
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

Apple crap
.DS_Store
